.Output {
    background: transparent;
    border: 4px solid #ffa600;
    border-radius: .4rem;
    resize: vertical;
    padding: .4rem;
    color: #FFF;
    max-height: 36rem;
    font-size: 1.6rem;
}